# Challenge 7

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from pathlib import Path
import psycopg2
import scipy.stats as stats

In [2]:
# Create a connection to the database
# postgres_server://postgres_user:postgres_password@postgres:5432/postgres_db
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Challenge 7")
engine

Engine(postgresql://postgres:***@localhost:5432/Challenge 7)

In [3]:
# Read the card_holder SQL file

query = """
CREATE TABLE card_holder(
    id int NOT NULL,
    name VARCHAR(50),
    PRIMARY KEY (id)
);
"""

df = pd.DataFrame(query, columns = ['id', 'name'])

# df = pd.DataFrame(query, inplace=False, columns = ['id', 'name'])
print (df)

ValueError: DataFrame constructor not properly called!

In [ ]:
# Read the credit_card SQL file
query = """
CREATE TABLE credit_card (
    card VARCHAR(50) NOT NULL,
    cardholder_id int,
    FOREIGN KEY (cardholder_id) REFERENCES card_holder (id),
    PRIMARY KEY (card)
);
"""

In [ ]:
# Read the merchant SQL file
query = """
CREATE TABLE merchant(
    id int NOT NULL,
    name VARCHAR (50),
    id_merchant_category int NOT NULL,
    FOREIGN KEY (id_merchant_category) REFERENCES merchant_category(id),
    PRIMARY KEY(id)
);
"""

In [ ]:
# Read the merchant_category SQL file
query = """
CREATE TABLE merchant_category(
    id int NOT NULL,
    name VARCHAR (50),
    PRIMARY KEY(id)
);
"""

In [ ]:
# Read the transaction_SQL file
query = """
CREATE TABLE transaction(
    id int NOT NULL,
    date timestamp NOT NULL,
    amount float,
    card VARCHAR(50) NOT NULL,
    id_merchant int NOT NULL,
    FOREIGN KEY (card) REFERENCES credit_card (card),
    FOREIGN KEY (id_merchant) REFERENCES merchant (id),
    PRIMARY KEY(id)
);
"""

In [ ]:
# Concatenate the ticker DataFrames
credit_record_df = pd.concat([id, cardholder_id],axis=1, keys=['name','card'])

# Display sample data
credit_record_df

In [ ]:
# Write function that locates outliers using standard deviation
# Group by name and then create a new dataframe of the mean values
credit_record_sorted = (credit_record_df[["name", "card"]]
    .groupby(["name"])
    .stdev()
    .sort_values("year")
    )

# Review the DataFrame
credit_record_sorted

In [ ]:
# Find anomalous transactions for 3 random card holders

## Identifying Outliers Using Interquartile Range

In [ ]:
# Write a function that locates outliers using interquartile range (find Q1, Q3, and interquartile range for each column)
Q1 = data.quantile(q=.25)
Q3 = data.quantile(q=.75)
IQR = data.apply(stats.iqr)

# Only keep rows in dataframe that have values within 1.5*IQR of Q1 and Q3
data_cleaned_df = data[~((data < (Q1-1.5*IQR)) | (data > (Q3+1.5*IQR))).any(axis=1)]

# Find how many rows are left in the dataframe 
data_cleaned_df.shape

In [ ]:
# Find anomalous transactions for 3 random card holders
data_cleaned_df()